//ICONS

@mixin sprite {
  background-image: url('../../images/sprite.svg');
  background-repeat: no-repeat;
  display: inline-block;
  @include rem(margin-bottom, 15px);
  text-indent: -99999px;
  vertical-align: middle;
}

@mixin icon-set($height: 30px, $width: 30px){
  background-size: ($width * 12) ($width * 1);
  height: $height;
  width: $width;
}

$icon-sizes: (
  xsmall 20px,
  small  55px,
  large  70px,
  xl     100px
);

//LIST
$sprite-icons: (
  credit-card        0,
  retail             1,
  coupon             2,
  shopping           3,
  customize          4,
  coupons            5,
  merchants          6,
  banks              7,
  ecommerce          8,
  ideas              9,
  email              10,
  address            11
);

//LOOP
@each $sprite-icon in $sprite-icons{
  $icon-name:   nth($sprite-icon, 1);
  $position-num: nth($sprite-icon, 2);

  @each $icon-size in $icon-sizes{
    $size-name: nth($icon-size, 1);
    $size:      nth($icon-size, 2);
    $position: $size * $position-num;

    .#{$icon-name}-#{$size-name}{
      background-position: -($position * 1) 0px;
      @include icon-set($width: $size, $height: $size);
      @include sprite;
    }

    .#{$icon-name}-#{$size-name}-responsive{
      background-position: -($position * 0.5) 0px;
      @include icon-set($width: ($size * 0.5), $height: ($size * 0.5));
      @include sprite;

      @include media($tablet){
        background-position: -($position * 1) 0px;
        @include icon-set($width: $size, $height: $size);
      }
    }
  }
}
