// Typography Variables
// ========================================

  // Font Families
  $primary-sans-serif: 'Rubik', sans-serif;


  // Sizes
  $font-size-base: 14px;

  $s-giga:    48px;
  $s-mega:    38px;

  $s-huge:    36px;
  $s-large:   30px;
  $s-bigger:  24px;
  $s-big:     18px;
  $s-medium:  15px;
  $s-base: $font-size-base;
  $s-small:   12px;
  $s-tiny:    10px;

  // Line Heights
  $base-line-height: $font-size-base * 1.5;
  $base-line-loose: $font-size-base * 1.9;
  $base-line-small:  $font-size-base;

  // Font Weights
  $light: 300;
  $regular: 400;
  $bold: 700;
  $heavy: 800;
