---
title: InternX - Homepage
---
<section class="landing">
  <h1>Get paid to be found by companies that need your skills.</h1>
  <a href="#" class="button button-primary">Get Started</a>
</section>

<section class="how-it-works">
  <h2>How it Works</h2>
  <ul>
    <li><span><img src="images/how-it-works-1.svg"><h3>Tell Your Story</h3><p>Fill out information about yourself in your profile (school, major, basic stuff).</p></span></li>
    <li><span><img src="images/how-it-works-2.svg"><h3>Companies Apply to You</h3><p>Recruiters search through a database of students to find their ideal candidates and will reach out to you directly (Email, LinkedIn, etc).</p></span></li>
    <li><span><img src="images/how-it-works-3.svg"><h3>Make Money</h3><p>The best part? You get paid $1 each time any company saves your profile. BOOYAH.
</p></span></li>
  </ul>
  <img class="up" src="images/up.svg">
  <p class="intern-star">Oh, and if you’re better than the best and selected to be an <b>InternStar</b>, you get <b>$5</b> each time a company saves your profile.  Submit your transcript to be eligible to make the big bucks.  </p>
</section>

<section class="quote">
  <img class="portrait" src="images/quote-image.svg">
  <h3>"With InternX I was able to skip the small talk at recruiting events and got paid to find a company that reached out to me." <br> <i>- Jennifer Liau, Purdue University</i></h3>
</section>

<section class="revolutionary">
  <div class="revolutionary-block">
    <h2>Here's Why We Are Revolutionary</h2>
    <img src="images/arrow-blue.svg">
  </div>
  <div class="vertical-tabs-container">
    <div class="vertical-tabs">
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">Focused</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">Personalized</a>
      <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">Efficient</a>
    </div>

    <div class="vertical-tab-content-container">
      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">Focused</a>
      <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
        <p>We’ve designed The InternX for students actively looking for new opportunities, but don’t have the time to do the grinding work of job searching.
</p>
      </div>

      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">Personalized</a>
      <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
        <p> Now you can make a profile that positions your experience in the best way to get hired by companies.</p>
      </div>

      <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3">Efficient</a>
      <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
        <p>If you seem like a good fit, recruiters will reach out to you directly to set up an interview.  You’ll be able to compare offers and choose the job that’s best for you.  </p>
      </div>
    </div>
  </div>
</section>

<section class="earn-income">
  <h4><i>If you’re interested in making some passive income over the semester and/or hate being told over & over again at career fairs to “apply online” then InternX is for you. <a href="#">Get Started</a></i></h4>
</section>

<section class="form">
  <form>
  <h4>Still not sure? Feel free to fill out this contact form, checkout our <a href="/faq.html">FAQ</a> or call us at <a href="tel:847-565-9114">847-565-9114</a>.</h4>
  <div class="short">
    <label>Name</label><br>
    <input type="text" name="firstname">
  </div>
  <div class="short last">
  <label>Email</label><br>
  <input type="text" name="email">
  </div>
  <label>Message</label><br>
  <input type="text" name="message">
  <br><br>
  <input class="button button-secondary" type="submit" value="Submit">
</form>
<img class="icon" src="images/mail-icon.svg">
<div class="photo"></div>
</section>

<section class="last-cta">
  <h2>Sign Up Today</h2>
  <div class="student-block">
  <img src="images/student-sign-up.svg">
  <br>
  <a class="button button-primary">Student Sign Up</a>
  </div>
</section>
